<?xml version="1.1.1"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="bundleposition" frontName="bundleposition">
            <module name="Ced_BundlePosition"/>
        </route>
    </router>
</config>
